<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.phocus"
        version   = "1.0.0">

    <name>Phocus
    </name>
 <author href="http://www.esu10.org" email="nmcclena@esu10.org">
        Nate McClenahan and Mark Hellman - ESU 10
    </author>

<gap:plugin name="nl.x-services.plugins.toast" />
</widget>